@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --foreground: oklch(0.1408 0.0044 285.82);
    --background: oklch(0.9851 0 0);
}

.dark {
    --foreground: oklch(0.9851 0 0);
    --background: oklch(0.1408 0.0044 285.82);
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        color: var(--foreground);
        background: var(--background);
        font-family: var(--font-general-variable), sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }
}
